/* 
    Name: Dillon Greek
    Class: CIS-131
    Date: 03/05/23
    Assignment: Final Image Swapping

        Create Two arrays, each array containing a different set of image filenames
        Create a window “load” event listner
            When the page loads:
                Create the large image in javascript using createElement(“img”)
                Loop through one of your arrays
                    Create an image for each element in the array
                Add a click event that will change the large image to the clicked image
                Append it to your html page
            Create a timer that runs every second (1000 milliseconds). This will call a function (or an anonymous function that:
                Changes the thumbnails from one array to the other array.
                Hint: there are various ways that you can accomplish this but ultimately you will need an if block. This looks the same as it does in other languages you have encountered here at OTC.
 */
#large_img,
#row {
    width: 95%;
    background-color: lightgray;
    display: flex;
    border-style: inset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#large_img1 {
    width: 650px;
    height: 436px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

img {
    width: 250px;
    height: 250px;
    padding: 2px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-style: inset;
}