/*
        Name: Dillon Greek
        Class: CIS-130
        Assignment: Amazing Company
*/
html {
    background-color: rgb(27, 27, 27);
}

nav {
    background-color: rgb(36, 36, 185);
    text-align: right;
    text-decoration: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2em;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(0, 38, 255);

}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 3em;

}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(153, 150, 150);
}

body {
    text-align: center;
    width: auto;
    color: white;

}

#main_image {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5em;
    box-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(0, 38, 255);
}

h1 {
    font-size: 48px;
    color: white;
    text-shadow: 0px 0px 5px #003cff, 0px 0px 8px #ffffff;
}

h2 {
    border-bottom: 2px solid rgb(153, 150, 150);
    width: fit-content;
    margin: auto;
}

div .gallery {
    margin: auto;
    display: inline;
    width: auto;


}

div .gallery img {
    width: auto;
    height: 250px;
    margin: 25px;
    box-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(0, 38, 255);

}
div .gallery img:hover{
    box-shadow: 1px 1px 15px rgb(255, 255, 255), 1px 1px 15px rgb(0, 38, 255);
}
#contact_p{
    margin-top: 5em;;
}
form {
    display: block;
    font-size: 0.9em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 10em;
    width: 180px;
    text-align: center;
}
button{
    margin-top: 2em;
}
footer {
    font-size: small;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 99%;
    color: rgb(0, 0, 0);
    background-color: rgb(0,38, 255);
}