/* Name: Dillon Greek
    Class: CIS-131
    Date: 03/14/23
    Assignment: The Great Race */

body {
    background-image: url("img/dog.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;

}

.player1 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 10px;
}

.player2 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: yellow;

    position: absolute;
    top: 500px;
    left: 10px;


}