body {
    width: 100%;
    margin: auto;
    background-image: url(img/Portage_Glacier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);

}

div {
    display: flex;
    justify-content: start;
    align-content: center;
    margin-top: 5em;
}



#intro {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid white;
    border-radius: 25px;
}

h2 {
    margin: auto;
    margin-bottom: 2em;
}

p {
    margin: auto;
}

aside {
    width: fit-content;
    align-content: center;
    padding-right: 2em;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid white;
    height: fit-content;
    margin: auto;
    min-width: 200px;
    border-radius: 25px;
}

#toDo {
    width: 100%;
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: rgba(255, 255, 255, 0);

}

.toDoItem {
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 200px auto;
}

footer {
    margin: auto;

}

@media only screen and (max-width:1080px) {
    header {
        width: 100%;
    }

    body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    div {
        height: min-content;
    }

    #top {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        align-content: center;
        justify-content: center;

    }

    #liBody {
        float: left;
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        position: relative;
        top: 100%;
    }

    #intro {
        width: 100%;
    }

    #toDo {
        display: flex;
        flex-direction: column;
        background-size: 200px;
    }

}