body {
    width: 100%;
    margin: auto;
    background-image: url(img/Portage_Glacier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.75);
}
nav a{
    margin-right: 2em;
    text-decoration: none;
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
}
header {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

div {
    display: flex;
    justify-content: start;
    align-content: center;
    margin-top: 5em;
}

#intro {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid white;
    border-radius: 25px;
    padding-bottom: 2em;
}

h3 {
    text-align: center;
    margin: auto;
}

h2 {
    margin: auto;
    margin-bottom: 2em;
}

p {
    margin: auto;
}

aside {
    width: fit-content;
    align-content: center;
    padding-right: 2em;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid white;
    height: fit-content;
    margin: auto;
    min-width: 200px;
    border-radius: 25px;
}

#toDo {
    width: 90%;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    margin-left: 5%;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 25px;
    margin-bottom: 3em;
}

.toDoItem {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width:650px) {
    header {
        width: 100%;
    }

    body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    div {
        height: min-content;
        justify-content: space-around;
    }

    #top {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        align-content: center;
        justify-content: center;

    }

    #liBody {
        float: left;
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        position: relative;
        top: 100%;
        margin-bottom: 3em;
    }

    #intro {
        width: 100%;
    }

    #toDo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .toDoItem {
        width: 300px;
        height: 200px;
    }

}