/* Dillon Greeks
     9/2/2022
     Pretty About You
     hobbies.html
*/
html {
	
	font-size: 14px;
}
img {
    width: 25%;
    height: auto;  
    padding-top: .5%;
    padding-bottom: .5%;
}

header{
    background-color: #1a1e24;
    text-align: center;
    border: gray;
    border: 1px solid gray;
       
}
nav{
    width: 25%;
      margin-left: 37%;
      font-size: large;
      
}

ul li{
    display: inline;
    color: aliceblue;
}
nav ul li a{
    color: chartreuse;
}

body{
    background-color: rgb(26, 25, 25);
    
}
article{
    display: grid;
}

div{
    background-color: rgb(36, 36, 36);
    border: 1px solid gray;
    margin-left: auto;
	margin-right: auto;
	width: 81.9%;
	padding-left: 4.55%;
	padding-right: 4.55%;
	clear: none;
	float: none;
	min-height: 100%;
    
    
}
h1{
    color: rgb(226, 173, 26);
    font-weight: bold;
    text-align: center;
    font-size: xx-large;

}

h2{
    font-size: larger;
    font-weight: bold;
    color: greenyellow;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

p{
    width: 50%;
    margin-left: 25%;
    font-size: medium;
    color: #589FDA;
    text-align: center;
    padding-bottom: 2.5%;
    font-family: cursive, Haettenschweiler;
}
br{
    content: "";
    display: block;
    margin: 2em;
}

footer{
    font-size: small;
    position: relative;
    text-align: center;
    bottom: 0;
    margin-top: 2%;
    color: white;
    background-color: #1a1e24a1;

}
