/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
      Author: Dillon Greek
      Date:   10/05/2022 

   Filename: sb_validate.css

*/


/* Validation Styles */